.header2{
    height: 50px;
    /* background-color: pink; */
    margin-top: -9.5px;
    
}
.navitems
{
    align-items: center;
    list-style:none;
    margin-top: 10px;
    margin-right: 1400px; 
    margin-bottom: auto;   

}
.l{
    text-decoration: none;
    align-items: center;
    margin-left: 90px;
}
.l1{
    text-decoration: none;
}
.l2{
    text-decoration: none;
    color: black;
    align-items: center;
    margin-right: 10px;
}

.l3{
    background-color:#919191;
    height: 30px;
    width: 100px;
    border-radius:5px;
    margin-left: 10px;
    border-style: none;
    color: whitesmoke;
}
.anchor{
    color: blue;
    text-decoration: none;
}
.greater-than::before {
    content: '>';
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    font-size: 24px;
    padding-bottom: 15px;
   
}




